 <div class="row">
    <div class="col-md-12" ng-show="expenses.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-expense/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Expense {{totalAmount}}</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Date&nbsp;</th>
        <th>Category&nbsp;</th>
        <th>Description&nbsp;</th>
        <th>Amount&nbsp;</th>
       
        <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in expenses">
                <td>{{data.exp_updated_at}}</td>
                <td>{{data.cat_name}}</td>
                <td>{{data.exp_description}}</td>
                <td>{{data.exp_amount}}</td>
                
                <td><a href="#/edit-expense/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Expense</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="expenses.length == 0">
        <div class="col-md-12">
            <h4>No expenses found</h4>
        </div>
    </div>
</div>